<div id="settingsContainer" style=" display: none">
  <div class="flex min-h-screen">
    <div id="settingsContainerLeft" class="w-1/4 bg-gray-800 p-4">
      <div id="settingsNavContainer" class="flex flex-col">
        <div id="settingsNavHeader" class="mb-4">
          <span id="settingsNavHeaderText" class="text-xl font-bold text-white"><%- lang('settings.navHeaderText')
              %></span>
        </div>
        <div id="settingsNavItemsContainer" class="flex-grow">
          <div id="settingsNavItemsContent" class="flex flex-col space-y-2">
            <button class="settingsNavItem text-left text-white py-2 px-4 rounded hover:bg-gray-700"
              rSc="settingsTabAccount" id="settingsNavAccount" selected>
              <%- lang('settings.navAccount') %>
            </button>
            <button class="settingsNavItem text-left text-white py-2 px-4 rounded hover:bg-gray-700"
              rSc="settingsTabMinecraft">
              <%- lang('settings.navMinecraft') %>
            </button>
            <button class="settingsNavItem text-left text-white py-2 px-4 rounded hover:bg-gray-700"
              rSc="settingsTabMods">
              <%- lang('settings.navMods') %>
            </button>
            <button class="settingsNavItem text-left text-white py-2 px-4 rounded hover:bg-gray-700"
              rSc="settingsTabJava">
              <%- lang('settings.navJava') %>
            </button>
            <button class="settingsNavItem text-left text-white py-2 px-4 rounded hover:bg-gray-700"
              rSc="settingsTabLauncher">
              <%- lang('settings.navLauncher') %>
            </button>
            <div class="settingsNavSpacer flex-grow"></div>
            <button class="settingsNavItem text-left text-white py-2 px-4 rounded hover:bg-gray-700"
              rSc="settingsTabAbout">
              <%- lang('settings.navAbout') %>
            </button>
            <button class="settingsNavItem text-left text-white py-2 px-4 rounded hover:bg-gray-700"
              rSc="settingsTabUpdate" id="settingsNavUpdate">
              <%- lang('settings.navUpdates') %>
            </button>
            <div id="settingsNavContentBottom" class="mt-4">
              <div class="settingsNavDivider border-t border-gray-600 mb-4"></div>
              <button id="settingsNavDone" class="text-left text-white py-2 px-4 rounded hover:bg-gray-700">
                <%- lang('settings.navDone') %>
              </button>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div id="settingsContainerRight" class="w-3/4 bg-gray-900 p-4">
      <div id="settingsTabAccount" class="settingsTab">
        <div class="settingsTabHeader mb-4">
          <span class="settingsTabHeaderText text-2xl font-bold text-white"><%- lang('settings.tabAccountHeaderText')
              %></span>
          <span class="settingsTabHeaderDesc text-sm text-gray-400"><%- lang('settings.tabAccountHeaderDesc') %></span>
        </div>
        <div class="settingsAuthAccountTypeContainer mb-4">
          <div class="settingsAuthAccountTypeHeader flex justify-between items-center mb-2">
            <div class="settingsAuthAccountTypeHeaderLeft flex items-center">
              <svg xmlns="http://www.w3.org/2000/svg" width="22" height="22" viewBox="0 0 23 23" class="mr-2">
                <path fill="#f35325" d="M1 1h10v10H1z" />
                <path fill="#81bc06" d="M12 1h10v10H12z" />
                <path fill="#05a6f0" d="M1 12h10v10H1z" />
                <path fill="#ffba08" d="M12 12h10v10H12z" />
              </svg>
              <span class="text-white"><%- lang('settings.microsoftAccount') %></span>
            </div>
            <div class="settingsAuthAccountTypeHeaderRight">
              <button class="settingsAddAuthAccount bg-blue-600 text-white py-2 px-4 rounded hover:bg-blue-500"
                id="settingsAddMicrosoftAccount">
                <%- lang('settings.addMicrosoftAccount') %>
              </button>
            </div>
          </div>
          <div class="settingsCurrentAccounts" id="settingsCurrentMicrosoftAccounts">
            <!-- Microsoft auth accounts populated here. -->
          </div>
        </div>
        <div class="settingsAuthAccountTypeContainer mb-4">
          <div class="settingsAuthAccountTypeHeader flex justify-between items-center mb-2">
            <div class="settingsAuthAccountTypeHeaderLeft">
              <span class="text-white"><%- lang('settings.mojangAccount') %></span>
            </div>
            <div class="settingsAuthAccountTypeHeaderRight">
              <button class="settingsAddAuthAccount bg-blue-600 text-white py-2 px-4 rounded hover:bg-blue-500"
                id="settingsAddMojangAccount">
                <%- lang('settings.addMojangAccount') %>
              </button>
            </div>
          </div>
          <div class="settingsCurrentAccounts" id="settingsCurrentMojangAccounts">
            <!-- Mojang auth accounts populated here. -->
          </div>
        </div>
      </div>
      <div id="settingsTabMinecraft" class="settingsTab hidden">
        <div class="settingsTabHeader mb-4">
          <span class="settingsTabHeaderText text-2xl font-bold text-white"><%- lang('settings.minecraftTabHeaderText')
              %></span>
          <span class="settingsTabHeaderDesc text-sm text-gray-400"><%- lang('settings.minecraftTabHeaderDesc')
              %></span>
        </div>
        <div id="settingsGameResolutionContainer" class="mb-4">
          <span class="settingsFieldTitle text-lg font-semibold text-white"><%- lang('settings.gameResolutionTitle')
              %></span>
          <div id="settingsGameResolutionContent" class="flex items-center space-x-2 mt-2">
            <input type="number" id="settingsGameWidth" min="0" cValue="GameWidth"
              class="w-20 p-2 bg-gray-700 text-white rounded">
            <div id="settingsGameResolutionCross" class="text-white">&#10006;</div>
            <input type="number" id="settingsGameHeight" min="0" cValue="GameHeight"
              class="w-20 p-2 bg-gray-700 text-white rounded">
          </div>
        </div>
        <div class="settingsFieldContainer mb-4">
          <div class="settingsFieldLeft">
            <span class="settingsFieldTitle text-lg font-semibold text-white"><%- lang('settings.launchFullscreenTitle')
                %></span>
          </div>
          <div class="settingsFieldRight">
            <label class="toggleSwitch">
              <input type="checkbox" cValue="Fullscreen" class="hidden">
              <span class="toggleSwitchSlider "></span>
            </label>
          </div>
        </div>
        <div class="settingsFieldContainer mb-4">
          <div class="settingsFieldLeft">
            <span class="settingsFieldTitle text-lg font-semibold text-white"><%- lang('settings.autoConnectTitle')
                %></span>
          </div>
          <div class="settingsFieldRight">
            <label class="toggleSwitch">
              <input type="checkbox" cValue="AutoConnect" class="hidden">
              <span class="toggleSwitchSlider "></span>
            </label>
          </div>
        </div>
        <div class="settingsFieldContainer mb-4">
          <div class="settingsFieldLeft">
            <span class="settingsFieldTitle text-lg font-semibold text-white"><%- lang('settings.launchDetachedTitle')
                %></span>
            <span class="settingsFieldDesc text-sm text-gray-400"><%- lang('settings.launchDetachedDesc') %></span>
          </div>
          <div class="settingsFieldRight">
            <label class="toggleSwitch">
              <input type="checkbox" cValue="LaunchDetached" class="hidden">
              <span class="toggleSwitchSlider "></span>
            </label>
          </div>
        </div>
      </div>
      <div id="settingsTabMods" class="settingsTab hidden">
        <div class="settingsTabHeader mb-4">
          <span class="settingsTabHeaderText text-2xl font-bold text-white"><%- lang('settings.tabModsHeaderText')
              %></span>
          <span class="settingsTabHeaderDesc text-sm text-gray-400"><%- lang('settings.tabModsHeaderDesc') %></span>
        </div>
        <div class="settingsSelServContainer mb-4">
          <div class="settingsSelServContent"></div>
          <div class="settingsSwitchServerContainer mt-4">
            <div class="settingsSwitchServerContent">
              <button class="settingsSwitchServerButton bg-blue-600 text-white py-2 px-4 rounded hover:bg-blue-500">
                <%- lang('settings.switchServerButton') %>
              </button>
            </div>
          </div>
        </div>
        <div id="settingsModsContainer">
          <div id="settingsReqModsContainer" class="mb-4">
            <div class="settingsModsHeader text-lg font-semibold text-white">
              <%- lang('settings.requiredMods') %>
            </div>
            <div id="settingsReqModsContent" class="mt-2"></div>
          </div>
          <div id="settingsOptModsContainer" class="mb-4">
            <div class="settingsModsHeader text-lg font-semibold text-white">
              <%- lang('settings.optionalMods') %>
            </div>
            <div id="settingsOptModsContent" class="mt-2"></div>
          </div>
          <div id="settingsDropinModsContainer" class="mb-4">
            <div class="settingsModsHeader text-lg font-semibold text-white">
              <%- lang('settings.dropinMods') %>
            </div>
            <button id="settingsDropinFileSystemButton"
              class="bg-blue-600 text-white py-2 px-4 rounded hover:bg-blue-500 mt-2">
              <%- lang('settings.addMods') %>
                <span id="settingsDropinRefreshNote" class="text-sm text-gray-400 ml-2">
                  <%- lang('settings.dropinRefreshNote') %>
                </span>
            </button>
            <div id="settingsDropinModsContent" class="mt-2"></div>
          </div>
          <div id="settingsShadersContainer" class="mb-4">
            <div class="settingsModsHeader text-lg font-semibold text-white">
              <%- lang('settings.shaderpacks') %>
            </div>
            <div id="settingsShaderpackDesc" class="text-sm text-gray-400 mt-2">
              <%- lang('settings.shaderpackDesc') %>
            </div>
            <div id="settingsShaderpackWrapper" class="mt-4">
              <button id="settingsShaderpackButton"
                class="bg-blue-600 text-white py-2 px-4 rounded hover:bg-blue-500">+</button>
              <div class="settingsSelectContainer mt-2">
                <div class="settingsSelectSelected bg-gray-700 text-white py-2 px-4 rounded"
                  id="settingsShadersSelected">
                  <%- lang('settings.selectShaderpack') %>
                </div>
                <div class="settingsSelectOptions bg-gray-700 text-white py-2 px-4 rounded mt-2"
                  id="settingsShadersOptions" hidden></div>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div id="settingsTabJava" class="settingsTab hidden">
        <div class="settingsTabHeader mb-4">
          <span class="settingsTabHeaderText text-2xl font-bold text-white"><%- lang('settings.tabJavaHeaderText')
              %></span>
          <span class="settingsTabHeaderDesc text-sm text-gray-400"><%- lang('settings.tabJavaHeaderDesc') %></span>
        </div>
        <div class="settingsSelServContainer mb-4">
          <div class="settingsSelServContent"></div>
          <div class="settingsSwitchServerContainer mt-4">
            <div class="settingsSwitchServerContent">
              <button class="settingsSwitchServerButton bg-blue-600 text-white py-2 px-4 rounded hover:bg-blue-500">
                <%- lang('settings.switchServerButton') %>
              </button>
            </div>
          </div>
        </div>
        <div id="settingsMemoryContainer" class="mb-4">
          <div id="settingsMemoryTitle" class="text-lg font-semibold text-white"><%- lang('settings.memoryTitle') %>
          </div>
          <div id="settingsMemoryContent" class="flex">
            <div id="settingsMemoryContentLeft" class="flex-grow">
              <div class="settingsMemoryContentItem mb-4">
                <span class="settingsMemoryHeader text-lg font-semibold text-white"><%- lang('settings.maxRAM')
                    %></span>
                <div class="settingsMemoryActionContainer flex items-center space-x-2 mt-2">
                  <div id="settingsMaxRAMRange" class="rangeSlider" cValue="MaxRAM" serverDependent min="3" max="8"
                    value="3" step="0.5">
                    <div class="rangeSliderBar"></div>
                    <div class="rangeSliderTrack"></div>
                  </div>
                  <span id="settingsMaxRAMLabel" class="settingsMemoryLabel text-white">3G</span>
                </div>
              </div>
              <div class="settingsMemoryContentItem mb-4">
                <span class="settingsMemoryHeader text-lg font-semibold text-white"><%- lang('settings.minRAM')
                    %></span>
                <div class="settingsMemoryActionContainer flex items-center space-x-2 mt-2">
                  <div id="settingsMinRAMRange" class="rangeSlider" cValue="MinRAM" serverDependent min="3" max="8"
                    value="3" step="0.5">
                    <div class="rangeSliderBar"></div>
                    <div class="rangeSliderTrack"></div>
                  </div>
                  <span id="settingsMinRAMLabel" class="settingsMemoryLabel text-white">3G</span>
                </div>
              </div>
              <div id="settingsMemoryDesc" class="text-sm text-gray-400">
                <%- lang('settings.memoryDesc') %>
              </div>
            </div>
            <div id="settingsMemoryContentRight" class="flex-shrink-0">
              <div id="settingsMemoryStatus">
                <div class="settingsMemoryStatusContainer mb-4">
                  <span class="settingsMemoryStatusTitle text-lg font-semibold text-white"><%-
                      lang('settings.memoryTotalTitle') %></span>
                  <span id="settingsMemoryTotal" class="settingsMemoryStatusValue text-white">16G</span>
                </div>
                <div class="settingsMemoryStatusContainer">
                  <span class="settingsMemoryStatusTitle text-lg font-semibold text-white"><%-
                      lang('settings.memoryAvailableTitle') %></span>
                  <span id="settingsMemoryAvail" class="settingsMemoryStatusValue text-white">7.3G</span>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="settingsFileSelContainer mb-4">
          <div class="settingsFileSelTitle text-lg font-semibold text-white">
            <%- lang('settings.javaExecutableTitle') %>
          </div>
          <div class="settingsFileSelContent flex items-center mt-2">
            <div id="settingsJavaExecDetails" class="text-sm text-gray-400 flex-grow"><!-- Invalid Selection --></div>
            <div class="settingsFileSelActions flex items-center">
              <i class="bi bi-folder2-open text-gray-400 mr-2"></i>
              <input class="settingsFileSelVal bg-gray-700 text-white rounded p-2 flex-grow" id="settingsJavaExecVal"
                type="text" value="null" cValue="JavaExecutable" serverDependent disabled />
              <button class="settingsFileSelButton bg-blue-600 text-white py-2 px-4 rounded hover:bg-blue-500 ml-2"
                id="settingsJavaExecSel" dialogTitle="<%- lang('settings.javaExecSelDialogTitle') %>"
                dialogDirectory="false">
                <%- lang('settings.javaExecSelButtonText') %>
              </button>
            </div>
          </div>
          <div class="settingsFileSelDesc text-sm text-gray-400 mt-2">
            <%- lang('settings.javaExecDesc') %>
              <strong id="settingsJavaReqDesc"><!-- Requires Java 8 x64. --></strong><br />
              <%- lang('settings.javaPathDesc', {'pathSuffix': `bin${process.platform==='win32' ? '\\javaw.exe'
                : '/java' }`}) %>
          </div>
        </div>
        <div id="settingsJVMOptsContainer" class="mb-4">
          <div id="settingsJVMOptsTitle" class="text-lg font-semibold text-white">
            <%- lang('settings.jvmOptsTitle') %>
          </div>
          <div id="settingsJVMOptsContent" class="flex items-center mt-2">
            <i class="bi bi-gear text-gray-400 mr-2"></i>
            <input id="settingsJVMOptsVal" class="bg-gray-700 text-white rounded p-2 flex-grow" cValue="JVMOptions"
              serverDependent type="text" />
          </div>
          <div id="settingsJVMOptsDesc" class="text-sm text-gray-400 mt-2">
            <%- lang('settings.jvmOptsDesc') %><br />
              <a href="#" id="settingsJvmOptsLink" class="text-blue-500 hover:underline"><!-- Available Options --></a>
          </div>
        </div>
      </div>
      <div id="settingsTabLauncher" class="settingsTab hidden">
        <div class="settingsTabHeader mb-4">
          <span class="settingsTabHeaderText text-2xl font-bold text-white"><%- lang('settings.launcherTabHeaderText')
              %></span>
          <span class="settingsTabHeaderDesc text-sm text-gray-400"><%- lang('settings.launcherTabHeaderDesc') %></span>
        </div>
        <div class="settingsFieldContainer mb-4">
          <div class="settingsFieldLeft">
            <span class="settingsFieldTitle text-lg font-semibold text-white"><%- lang('settings.allowPrereleaseTitle')
                %></span>
            <span class="settingsFieldDesc text-sm text-gray-400"><%- lang('settings.allowPrereleaseDesc') %></span>
          </div>
          <div class="settingsFieldRight">
            <label class="toggleSwitch">
              <input type="checkbox" cValue="AllowPrerelease" class="hidden">
              <span class="toggleSwitchSlider "></span>
            </label>
          </div>
        </div>
        <div class="settingsFileSelContainer mb-4">
          <div class="settingsFileSelContent">
            <div class="settingsFieldTitle text-lg font-semibold text-white" id="settingsDataDirTitle">
              <%- lang('settings.dataDirectoryTitle') %>
            </div>
            <div class="settingsFileSelActions flex items-center mt-2">
              <i class="bi bi-folder2-open text-gray-400 mr-2"></i>
              <input class="settingsFileSelVal bg-gray-700 text-white rounded p-2 flex-grow" type="text" value="null"
                cValue="DataDirectory" disabled>
              <button class="settingsFileSelButton bg-blue-600 text-white py-2 px-4 rounded hover:bg-blue-500 ml-2"
                dialogTitle="<%- lang('settings.selectDataDirectory') %>" dialogDirectory="true">
                <%- lang('settings.chooseFolder') %>
              </button>
            </div>
          </div>
          <div class="settingsFileSelDesc text-sm text-gray-400 mt-2">
            <%- lang('settings.dataDirectoryDesc') %>
          </div>
        </div>
      </div>
      <div id="settingsTabAbout" class="settingsTab hidden">
        <div class="settingsTabHeader mb-4">
          <span class="settingsTabHeaderText text-2xl font-bold text-white"><%- lang('settings.aboutTabHeaderText')
              %></span>
          <span class="settingsTabHeaderDesc text-sm text-gray-400"><%- lang('settings.aboutTabHeaderDesc') %></span>
        </div>
        <div id="settingsAboutCurrentContainer" class="mb-4">
          <div id="settingsAboutCurrentContent">
            <div id="settingsAboutCurrentHeadline" class="flex items-center mb-4">
              <img id="settingsAboutLogo" src="./assets/images/SealCircle.png" class="w-12 h-12 mr-4" />
              <span id="settingsAboutTitle" class="text-2xl font-bold text-white">
                <%- lang('settings.aboutTitle', { appName: lang('app.title') }) %>
              </span>
            </div>
            <div id="settingsAboutCurrentVersion" class="flex items-center mb-4">
              <div id="settingsAboutCurrentVersionCheck" class="text-green-500 mr-2">&#10003;</div>
              <div id="settingsAboutCurrentVersionDetails">
                <span id="settingsAboutCurrentVersionTitle" class="text-lg font-semibold text-white">
                  <%- lang('settings.stableRelease') %>
                </span>
                <div id="settingsAboutCurrentVersionLine" class="flex items-center">
                  <span id="settingsAboutCurrentVersionText" class="text-sm text-gray-400 mr-2">
                    <%- lang('settings.versionText') %>
                  </span>
                  <span id="settingsAboutCurrentVersionValue" class="text-sm text-white">2.1.1</span>
                </div>
              </div>
            </div>
          </div>
          <div id="settingsAboutButtons" class="flex flex-col space-y-2">
            <a href="<%- lang('settings.sourceGithubLink') %>" id="settingsAboutSourceButton"
              class="settingsAboutButton bg-blue-600 text-white py-2 px-4 rounded hover:bg-blue-500">
              <%- lang('settings.sourceGithub') %>
            </a>
            <!-- The following must be included in third-party usage. -->
            <!-- <a href="https://github.com/dscalzi/HeliosLauncher" id="settingsAboutSourceButton" class="settingsAboutButton bg-blue-600 text-white py-2 px-4 rounded hover:bg-blue-500">Original Source</a> -->
            <a href="<%- lang('settings.supportLink') %>" id="settingsAboutSupportButton"
              class="settingsAboutButton bg-blue-600 text-white py-2 px-4 rounded hover:bg-blue-500">
              <%- lang('settings.support') %>
            </a>
            <a href="#" id="settingsAboutDevToolsButton"
              class="settingsAboutButton bg-blue-600 text-white py-2 px-4 rounded hover:bg-blue-500">
              <%- lang('settings.devToolsConsole') %>
            </a>
          </div>
        </div>
        <div class="settingsChangelogContainer">
          <div class="settingsChangelogContent">
            <div class="settingsChangelogHeadline mb-4">
              <div class="settingsChangelogLabel text-lg font-semibold text-white">
                <%- lang('settings.releaseNotes') %>
              </div>
              <div class="settingsChangelogTitle text-2xl font-bold text-white">
                <%- lang('settings.changelog') %>
              </div>
            </div>
            <div class="settingsChangelogText text-sm text-gray-400">
              <%- lang('settings.noReleaseNotes') %>
            </div>
          </div>
          <div class="settingsChangelogActions mt-4">
            <a class="settingsChangelogButton settingsAboutButton bg-blue-600 text-white py-2 px-4 rounded hover:bg-blue-500"
              href="#">
              <%- lang('settings.viewReleaseNotes') %>
            </a>
          </div>
        </div>
      </div>
      <div id="settingsTabUpdate" class="settingsTab hidden">
        <div class="settingsTabHeader mb-4">
          <span class="settingsTabHeaderText text-2xl font-bold text-white"><%-
              lang('settings.launcherUpdatesHeaderText') %></span>
          <span class="settingsTabHeaderDesc text-sm text-gray-400"><%- lang('settings.launcherUpdatesHeaderDesc')
              %></span>
        </div>
        <div id="settingsUpdateStatusContainer" class="mb-4">
          <div id="settingsUpdateStatusContent">
            <div id="settingsUpdateStatusHeadline" class="mb-4">
              <span id="settingsUpdateTitle"
                class="text-lg font-semibold text-white"><!-- You Are Running the Latest Version --></span>
            </div>
            <div id="settingsUpdateVersion" class="flex items-center mb-4">
              <div id="settingsUpdateVersionCheck" class="text-green-500 mr-2">&#10003;</div>
              <div id="settingsUpdateVersionDetails">
                <span id="settingsUpdateVersionTitle" class="text-lg font-semibold text-white"><%-
                    lang('settings.stableRelease') %></span>
                <div id="settingsUpdateVersionLine" class="flex items-center">
                  <span id="settingsUpdateVersionText" class="text-sm text-gray-400 mr-2"><%-
                      lang('settings.versionText') %></span>
                  <span id="settingsUpdateVersionValue" class="text-sm text-white">2.1.1</span>
                </div>
              </div>
            </div>
            <div id="settingsUpdateActionContainer" class="mt-4">
              <a id="settingsUpdateActionButton" class="bg-blue-600 text-white py-2 px-4 rounded hover:bg-blue-500">
                <%- lang('settings.checkForUpdates') %>
              </a>
            </div>
          </div>
        </div>
        <div class="settingsChangelogContainer">
          <div class="settingsChangelogContent">
            <div class="settingsChangelogHeadline mb-4">
              <div class="settingsChangelogLabel text-lg font-semibold text-white">
                <%- lang('settings.whatsNew') %>
              </div>
              <div class="settingsChangelogTitle text-2xl font-bold text-white">
                <%- lang('settings.updateReleaseNotes') %>
              </div>
            </div>
            <div class="settingsChangelogText text-sm text-gray-400">
              <%- lang('settings.noReleaseNotes') %>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  
  <script src="./assets/js/scripts/settings.js"></script>
</div>